{% extends 'admin/partials/base.html' %}
{% load static %}

{% block content %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Coupons</h2>
            <p>Add, edit or delete a Coupons</p>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white" />
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    
                    <form action="" method="POSt" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-4">
                            
                            <label for="product_name" class="form-label">Coupon Code</label>
                            {{ form.code }}
                            {{ form.errors.code }}
                        </div>
                        
                        
                        <div class="mb-4">
                            <label for="product_slug" class="form-label">Discount(%)</label>
                            {{ form.discount }}
                        </div>
                        <div class="mb-4">
                            <label for="product_slug" class="form-label">Valid from</label>
                            <input type="date" name="valid_from">
                        </div>
                        <div class="mb-4">
                            <label for="product_slug" class="form-label">Valid to</label>
                            <input type="date" name="valid_to">
                        </div>
                        <div class="mb-4">
                            <label for="product_slug" class="form-label">Is Active</label>
                            {{ form.active }}
                        </div>
                        
                        
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submil">Create</button>
                           
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover" id="table">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>
                                    </th>
                                    <th>ID </th>
                                    <th>Name</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Discount</th>
                                    
                                    
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in coupons %}
                                <tr class="record">
                                    <td class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>
                                    </td>
                                    <td>{{ c.id }}</td>
                                    <td><b>{{ c.code }}</b></td>
                                    <td><b>{{ c.valid_from|date:"M, d, Y" }}</b></td>
                                    <td><b>{{ c.valid_to|date:"M, d, Y" }}</b></td>
                                    <td><b>{{ c.discount }}%</b></td>
                                    
                                    
                                    
                                    
                                    <td class="text-end">
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item"  href="{% url 'superadmin:update_coupon' c.id %}">Edit info</a>
                                            </div>
                                        </div>
                                        <!-- dropdown //end -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- .col// -->
            </div>
            <!-- .row // -->
        </div>
        <!-- card body .// -->
    </div>
    <!-- card .// -->
</section>
{% endblock %}