
{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <section class="home-slider position-relative mb-30">
            <div class="container">
                <div class="home-slide-cover mt-30">
                    <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                        <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'assets/imgs/slider/slider-1.png' %})">
                            <div class="slider-content">
                                <h1 class="display-2 mb-40">
                                    Don’t miss amazing<br />
                                    grocery deals
                                </h1>
                                <p class="mb-65">Sign up for the daily newsletter</p>
                                <button class="btn" type="submit">Shop Now</button>
                            </div>
                        </div>
                        <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'assets/imgs/slider/slider-2.png' %})">
                            <div class="slider-content">
                                <h1 class="display-2 mb-40">
                                    Fresh Vegetables<br />
                                    Big discount
                                </h1>
                                <p class="mb-65">Save up to 50% off on your first order</p>
                                <button class="btn" type="submit">Shop Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrow hero-slider-1-arrow"></div>
                </div>
            </div>
        </section>
        <!--End hero slider-->
        <!-- <section class="popular-categories section-padding">
            <div class="container wow animate__animated animate__fadeIn">
                <div class="section-title">
                    <div class="title">
                        <h3>Featured Categories</h3>
                        <ul class="list-inline nav nav-tabs links">
                            <li class="list-inline-item nav-item"><a class="nav-link" href="shop-grid-right.html">Cake & Milk</a></li>
                            <li class="list-inline-item nav-item"><a class="nav-link" href="shop-grid-right.html">Coffes & Teas</a></li>
                            <li class="list-inline-item nav-item"><a class="nav-link active" href="shop-grid-right.html">Pet Foods</a></li>
                            <li class="list-inline-item nav-item"><a class="nav-link" href="shop-grid-right.html">Vegetables</a></li>
                        </ul>
                    </div>
                    <div class="slider-arrow slider-arrow-2 flex-right carausel-10-columns-arrow" id="carausel-10-columns-arrows"></div>
                </div>
                <div class="carausel-10-columns-cover position-relative">
                    <div class="carausel-10-columns" id="carausel-10-columns">
                        <div class="card-2 bg-9 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'assets/imgs/shop/cat-13.png' %}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Cake & Milk</a></h6>
                            <span>26 items</span>
                        </div>
                        <div class="card-2 bg-10 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'assets/imgs/shop/cat-12.png' %}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Oganic Kiwi</a></h6>
                            <span>28 items</span>
                        </div>
                        <div class="card-2 bg-11 wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'assets/imgs/shop/cat-11.png' %}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Peach</a></h6>
                            <span>14 items</span>
                        </div>
                        <div class="card-2 bg-12 wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'assets/imgs/shop/cat-9.png' %}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Red Apple</a></h6>
                            <span>54 items</span>
                        </div>
                        <div class="card-2 bg-13 wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'assets/imgs/shop/cat-3.png' %}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Snack</a></h6>
                            <span>56 items</span>
                        </div>
                        <div class="card-2 bg-14 wow animate__animated animate__fadeInUp" data-wow-delay=".6s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'assets/imgs/shop/cat-1.png' %}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Vegetables</a></h6>
                            <span>72 items</span>
                        </div>
                        <div class="card-2 bg-15 wow animate__animated animate__fadeInUp" data-wow-delay=".7s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'assets/imgs/shop/cat-2.png' %}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Strawberry</a></h6>
                            <span>36 items</span>
                        </div>
                        <div class="card-2 bg-12 wow animate__animated animate__fadeInUp" data-wow-delay=".8s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'assets/imgs/shop/cat-4.png' %}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Black plum</a></h6>
                            <span>123 items</span>
                        </div>
                        <div class="card-2 bg-10 wow animate__animated animate__fadeInUp" data-wow-delay=".9s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'assets/imgs/shop/cat-5.png' %}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Custard apple</a></h6>
                            <span>34 items</span>
                        </div>
                        <div class="card-2 bg-12 wow animate__animated animate__fadeInUp" data-wow-delay="1s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'assets/imgs/shop/cat-14.png' %}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Coffe & Tea</a></h6>
                            <span>89 items</span>
                        </div>
                        <div class="card-2 bg-11 wow animate__animated animate__fadeInUp" data-wow-delay="0s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{% static 'assets/imgs/shop/cat-15.png' %}" alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Headphone</a></h6>
                            <span>87 items</span>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--End category slider-->
        <!-- <section class="banners mb-25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow animate__animated animate__fadeInUp" data-wow-delay="0">
                            <img src="{% static 'assets/imgs/banner/banner-1.png' %}" alt="" />
                            <div class="banner-text">
                                <h4>
                                    Everyday Fresh & <br />Clean with Our<br />
                                    Products
                                </h4>
                                <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                            <img src="{% static 'assets/imgs/banner/banner-2.png' %}" alt="" />
                            <div class="banner-text">
                                <h4>
                                    Make your Breakfast<br />
                                    Healthy and Easy
                                </h4>
                                <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-flex">
                        <div class="banner-img mb-sm-0 wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                            <img src="{% static 'assets/imgs/banner/banner-3.png' %}" alt="" />
                            <div class="banner-text">
                                <h4>The best Organic <br />Products Online</h4>
                                <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--End banners-->
        <section class="product-tabs section-padding position-relative">
            <div class="container">
                <div class="section-title style-2 wow animate__animated animate__fadeIn">
                    <h3>Popular Products</h3>
                    
                </div>
                <!--End nav-tabs-->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">

                            {% for p in products %}
                            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="{% url 'core:product_detail' p.pid p.title|slugify %}">
                                                <img class="default-img" src="{{ p.image.url }}" alt="" />
                                                <img class="hover-img" src="{{ p.image.url }}" alt="" />
                                            </a>
                                        </div>
                                        <!-- <div class="product-action-1">
                                            <a aria-label="Add To Wishlist" class="action-btn" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                            <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                        </div> -->
                                        
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="{% url 'core:product_detail' p.pid p.title|slugify %}">{{ p.category.title }}</a>
                                        </div>
                                        <h2><a href="{% url 'core:product_detail' p.pid p.title|slugify %}">{{ p.title }}</a></h2>
                                        <!-- <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div> -->
                                        <!-- <div>
                                            <span class="font-small text-muted">By <a href="vendor-details-1.html">NestFood</a></span>
                                        </div> -->
                                        <div class="product-card-bottom">
                                            <div class="product-price">

                                                {% if p.category.offer %}
                                                    <span>₹{{ p.get_offer_price_by_category|floatformat:2 }}</span>
                                                {% else %}
                                                    <span>₹{{ p.discount_price|floatformat:2 }}</span>
                                                {% endif %}
                                                
                                                <span class="old-price">₹{{ p.price|floatformat:2 }}</span>
                                            </div>
                                            <!-- <div class="add-cart">
                                                <a class="add" href="#"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!--end product card-->
                            
                            <!--end product card-->
                        </div>
                        <!--End product-grid-4-->
                    </div>
                    
                </div>
                <!--End tab-content-->
            </div>
        </section>
        <!--Products Tabs-->
        
        <!--End Best Sales-->
        
        <!--End Deals-->
        
        <!--End 4 columns-->
    </main>
{% endblock content %}