{% load static %}
{% load menu_tags %}
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="{% static 'admin/assets/imgs/theme/logo.svg' %}" class="logo" alt="Nest Dashboard" />
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item {% is_active request 'superadmin:dashboard' %}">
                <a class="menu-link" href="{% url 'superadmin:dashboard' %}">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu {% is_active request 'superadmin:users_list' %}">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-person"></i>
                    <span class="text">Account</span>
                </a>
                <div class="submenu">
                    <a href="{% url 'superadmin:users_list'%}">Users List</a>
                    
                </div>
            </li>
            <li class="menu-item has-submenu {% is_active request 'superadmin:category_list' %}">
                <a class="menu-link" href="{% url 'superadmin:category_list' %}">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Category Management</span>
                </a>
                <div class="submenu">
                    <a href="{% url 'superadmin:category_list' %}">Category List</a>
                    
                </div>
            </li>
            <li class="menu-item has-submenu {% is_active request 'superadmin:product_list' %} {% is_active request 'superadmin:product.create' %} {% is_active request 'superadmin:product_varients' %} ">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products Management</span>
                </a>
                <div class="submenu">
                    <a href="{% url 'superadmin:product_list'%}">Product List</a>
                    <a href="{% url 'superadmin:product_varients'%}">Product Varients</a>
                </div>
                
            </li>
            <li class="menu-item has-submenu {% is_active request 'superadmin:order_list' %}">
                <a class="menu-link" href="page-orders-1.html">
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a href="{% url 'superadmin:order_list'%}">Order list</a>
                    <!-- <a href="page-orders-2.html">Order list 2</a>
                    <a href="page-orders-detail.html">Order detail</a> -->
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-sellers-cards.html">
                    <i class="icon material-icons md-store"></i>
                    <span class="text">Sellers</span>
                </a>
                <div class="submenu">
                    <a href="page-sellers-cards.html">Sellers cards</a>
                    <a href="page-sellers-list.html">Sellers list</a>
                    <a href="page-seller-detail.html">Seller profile</a>
                </div>
            </li>
            
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-transactions-1.html">
                    <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Transactions</span>
                </a>
                <div class="submenu">
                    <a href="page-transactions-1.html">Transaction 1</a>
                    <a href="page-transactions-2.html">Transaction 2</a>
                </div>
            </li>
            
            <li class="menu-item">
                <a class="menu-link" href="page-reviews.html">
                    <i class="icon material-icons md-comment"></i>
                    <span class="text">Reviews</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i> <span class="text">Brands</span> </a>
            </li>
            
        </ul>
        <hr />
        <ul class="menu-aside">
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
                <div class="submenu">
                    <a href="page-settings-1.html">Setting sample 1</a>
                    <a href="page-settings-2.html">Setting sample 2</a>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="page-blank.html">
                    <i class="icon material-icons md-local_offer"></i>
                    <span class="text"> Starter page </span>
                </a>
            </li>
        </ul>
        <br />
        <br />
    </nav>
</aside>