{% extends 'admin/partials/base.html' %}
{% load static %}

{% block content %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories</h2>
            <p>Add, edit or delete a category</p>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white" />
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    
                    <form action="" method="POSt" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-4">
                            
                            <label for="product_name" class="form-label">Title</label>
                            {{ form.title }}
                            {{ form.errors.title }}
                        </div>
                        <div class="mb-4">
                            {{ form.errors.image }}
                            <label for="product_slug" class="form-label">Image</label>
                            {{ form.image }}
                        </div>
                        <div class="mb-4">
                            <label for="product_slug" class="form-label">Is Featured</label>
                            {{ form.is_featured }}
                        </div>
                        <div class="mb-4">
                            <label for="product_slug" class="form-label">Is Available</label>
                            {{ form.is_available }}
                        </div>
                        
                        
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submil">Create category</button>
                           
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover" id="table">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>
                                    </th>
                                    <th>ID </th>
                                    <th>Name</th>
                                    <th></th>
                                    <th>Is Featured</th>
                                    <th>Status</th>
                                    
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in categories %}
                                <tr class="record">
                                    <td class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>
                                    </td>
                                    <td>{{ c.cid }}</td>
                                    <td><b>{{ c.title }}</b></td>
                                    <td><img src="{{ c.image.url }}"/></td>
                                    <td><span class="badge rounded-pill {% if c.is_featured %} alert-success {% else %} alert-warning {% endif %}">{% if c.is_featured %} Yes {% else %} No {% endif %}</span></td>
                                    <td><span class="badge rounded-pill {% if c.is_available %} alert-success {% else %} alert-danger {% endif %}">{% if c.is_available %} Active {% else %} Inactive {% endif %}</span></td>
                                    
                                    
                                    <td class="text-end">
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item link-edit-category" data-img="{{c.image.url}}" data-id="{{c.id}}" data-featured="{{c.is_featured}}" data-available="{{c.is_available}}" href="{% url 'superadmin:update_category' c.id %}">Edit info</a>
                                            </div>
                                        </div>
                                        <!-- dropdown //end -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- .col// -->
            </div>
            <!-- .row // -->
        </div>
        <!-- card body .// -->
    </div>
    <!-- card .// -->
</section>
{% endblock %}