{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<main class="main">
    <div class="page-header mt-30 mb-50">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-3">
                        <h1 class="mb-15">Products</h1>
                        <div class="breadcrumb">
                            <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                            <span></span> Products 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-30">
        <div class="row flex-row-reverse">
            <div class="col-lg-4-5">
                <div class="shop-product-fillter">
                    <div class="totall-product">
                        <p>We found <strong class="text-brand">29</strong> items for you!</p>
                    </div>
                    <div class="sort-by-product-area">
                        <div class="sort-by-cover mr-10">
                            <div class="sort-by-product-wrap">
                                <div class="sort-by">
                                    <span><i class="fi-rs-apps"></i>Show:</span>
                                </div>
                                <div class="sort-by-dropdown-wrap">
                                    <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                </div>
                            </div>
                            <div class="sort-by-dropdown">
                                <ul>
                                    <li><a class="active" href="#">50</a></li>
                                    <li><a href="#">100</a></li>
                                    <li><a href="#">150</a></li>
                                    <li><a href="#">200</a></li>
                                    <li><a href="#">All</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sort-by-cover">
                            <div class="sort-by-product-wrap">
                                <div class="sort-by">
                                    <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                </div>
                                <div class="sort-by-dropdown-wrap">
                                    <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                </div>
                            </div>
                            <div class="sort-by-dropdown">
                                <ul>
                                    <li><a class="active" href="#">Featured</a></li>
                                    <li><a href="#">Price: Low to High</a></li>
                                    <li><a href="#">Price: High to Low</a></li>
                                    <li><a href="#">Release Date</a></li>
                                    <li><a href="#">Avg. Rating</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row product-grid">
                    {% for product in products %}
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="product-cart-wrap mb-30">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="{% url 'core:product_detail' product.pid product.title|slugify %}">
                                        <img class="default-img" src="{{ product.image.url }}" alt="" />
                                                <img class="hover-img" src="{{ product.image.url }}" alt="" />
                                    </a>
                                </div>
                                <!-- <div class="product-action-1">
                                    <a aria-label="Add To Wishlist" class="action-btn" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                    <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                </div> -->
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="new">{{ product.get_percentage|floatformat:0 }}%</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    <a href="{% url 'core:product_detail' product.pid product.title|slugify %}">{{ product.category.title }}</a>
                                </div>
                                <h2><a href="{% url 'core:product_detail' product.pid product.title|slugify %}">{{ product.title }}</a></h2>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                
                                <div class="product-card-bottom">
                                    <div class="product-price">
                                        {% if product.category.offer %}
                                            <span >₹{{ product.get_offer_price_by_category }}</span>
                                        {% else %}
                                            <span>₹{{ product.discount_price }}</span>
                                        {% endif %}
                                        
                                        <span class="old-price">₹{{ product.price }}</span>
                                    </div>
                                    <div class="add-cart">
                                        <a class="add" href=""><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!--end product card-->
                    
                </div>
                <!--product grid-->
                
            </div>
            <div class="col-lg-1-5 primary-sidebar sticky-sidebar">
                <div class="sidebar-widget widget-category-2 mb-30">
                    <h5 class="section-title style-1 mb-30">Category</h5>
                    <ul>
                        {% for c in categories %}
                        <li>
                            <a href="{% url 'core:search'%}?c={{c.id}}&query="> <img src="{{ c.image.url }}" alt="" />{{c.title}}</a><span class="count">30</span>
                        </li>
                        {% endfor %}
                        
                    </ul>
                </div>
                <!-- Fillter By Price -->
                <div class="sidebar-widget price_range range mb-30">
                    <h5 class="section-title style-1 mb-30">Fill by price</h5>
                    <form action="" method="get">
                        <div class="price-filter">
                            <div class="price-filter-inner">
                                
                                <div class="d-flex justify-content-between">
                                    
                                        <div class="caption">From: 
                                            <input type="text" name="min_price" class="form-control" value="{{ min_price }}">
                                            <input type="hidden" name="c" value="{{ c }}">
                                            <input type="hidden" name="query" value="{{ query }}">
                                        </div>
                                        <div class="caption">To: 
                                            <input type="text" name="max_price" class="form-control" value="{{ max_price }}">
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Fillter</button>
                    </form>
                </div>
                
                <!-- Product sidebar Widget -->
            </div>
        </div>
    </div>
</main>
{% endblock content%}