{% extends 'admin/partials/base.html' %}
{% load static %}

{% block extrahead %}

{% endblock %}
{% block content %}
<section class="content-main">
    <div class="row">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                    <div>
                        <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                        <button type="submit" class="btn btn-md rounded font-sm hover-up">Publich</button>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        
                    
                            
                            <div class="mb-4">
                                <label for="id_title" class="form-label">Product title</label>
                                {{ form.title }}
                                {{ form.errors.title }}
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea placeholder="Type here" class="form-control ckeditor" name="description" rows="4">
                                    {{request.post.description}}
                                </textarea>
                                {{ form.errors.description }}
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">MRP</label>
                                        <div class="row gx-2">
                                            {{ form.price }}
                                            {{ form.errors.price }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Discount price</label>
                                        
                                        {{ form.discount_price }}
                                        {{ form.errors.discount_price }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Product Stock</label>
                                        <!-- <input placeholder="" type="text" name="stock_count" class="form-control" /> -->
                                        {{ form.stock_count }}
                                        {{ form.errors.stock_count }}
                                    </div>
                                </div>
                                
                            </div>
                            
                            
                    
                    </div>
                </div>
                <!-- card end// -->
                <div class="card mb-4">
                    <!-- <div class="card-header">
                        <h4>Shipping</h4>
                    </div> -->
                    <div class="card-body">
                        
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Manufacture Date</label>
                                        {{form.mfd}}
                                        {{ form.errors.mfd }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Life</label>
                                        {{form.life}}
                                        {{ form.errors.life }}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Active</label>
                                {{form.status}}
                                {{ form.errors.status }}
                            </div>
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product Status</label>
                                {{form.product_status}}
                                {{ form.errors.product_status }}
                            </div>
                        
                    </div>
                </div>
                <!-- card end// -->
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Media</h4>
                    </div>
                    <div class="card-body">
                        <div class="input-upload">
                            <img src="{% static 'admin/assets/imgs/theme/upload.svg' %}" alt="" />
                            <!-- <input class="form-control" type="file" name="image" /> -->
                            {{ form.image }}
                            {{ form.errors.image }}
                        </div>
                    </div>
                </div>
                <!-- card end// -->
                <div class="card mb-8">
                    <div class="card-header">
                        <h4>Category</h4>
                    </div>
                    <div class="card-body">
                        <div class="row gx-2">
                            <div class="col-sm-12 mb-3">
                                <label class="form-label">Category</label>
                                <!-- <select class="form-select" name="category">
                                    <option value="">Select One</option>
                                    {% for c in categories %}
                                        <option value="{{c.id}}">{{c.title}}</option>
                                    {% endfor %}
                                    
                                </select> -->
                                {{ form.category }}
                                {{ form.errors.category }}
                            </div>
                            
                            
                        </div>
                        <!-- row.// -->
                    </div>
                </div>
                <!-- card end// -->
            </div>
        </form>
    </div>
</section>
{% endblock %}