{% extends 'partials/base.html' %}
{% load mathfilters %}
{% load static %}
{% block content %}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Pages <span></span> My Account
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-3">
                            {% include "core/user_account/left_menu.html" %}
                        </div>
                        <div class="col-md-9">
                            <section class="content-main">
                                <div class="content-header">
                                    <div>
                                        <h2 class="content-title card-title">Order detail</h2>
                                        <p>Details for Order ID: {{ order.orderno }}</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <header class="card-header">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                                <span> <i class="material-icons md-calendar_today"></i> <b>Wed, Aug 13, 2020, 4:34PM</b> </span> <br />
                                                <small class="text-muted">Order ID: 3453012</small>
                                            </div>
                                            
                            
                                        </div>
                                    </header>
                                    <!-- card-header end// -->
                                    <div class="card-body">
                                        <div class="row mb-50 mt-20 order-info-wrap">
                                            <div class="col-md-4">
                                                <article class="icontext align-items-start">
                                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                                        <i class="text-primary material-icons md-person"></i>
                                                    </span>
                                                    <div class="text">
                                                        <h6 class="mb-1">Customer</h6>
                                                        <p class="mb-1">
                                                            {{order.user.first_name}} {{order.user.last_name}} <br />
                                                            {{order.user.username}} <br />
                                                            {{order.user.mobile}}
                                                        </p>
                                                        
                                                    </div>
                                                </article>
                                            </div>
                                            <!-- col// -->
                                            <div class="col-md-4">
                                                <article class="icontext align-items-start">
                                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                                        <i class="text-primary material-icons md-local_shipping"></i>
                                                    </span>
                                                    <div class="text">
                                                        <h6 class="mb-1">Order info</h6>
                                                        <p class="mb-1">
                                                            Shipping: Fargo express <br />
                                                            Pay method:cod <br />
                                                        </p>
                                                        
                                                    </div>
                                                </article>
                                            </div>
                                            <!-- col// -->
                                            <div class="col-md-4">
                                                <article class="icontext align-items-start">
                                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                                        <i class="text-primary material-icons md-place"></i>
                                                    </span>
                                                    <div class="text">
                                                        <h6 class="mb-1">Deliver to</h6>
                                                        <p class="mb-1">
                                                            {{order.order_address.line1}}<br />
                                                            City: Tashkent, Uzbekistan <br />Block A, House 123, Floor 2 <br />
                                                            Po Box 10000
                                                        </p>
                                                        
                                                    </div>
                                                </article>
                                            </div>
                                            <!-- col// -->
                                        </div>
                                        <!-- row // -->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th width="40%">Product</th>
                                                                <th width="20%">Unit Price</th>
                                                                <th width="20%">Quantity</th>
                                                                <th width="20%" class="text-end">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in order.order_items.all %}
                                                            <tr>
                                                                <td>
                                                                    <a class="itemside" href="#">
                                                                        <div class="left">
                                                                            <img src="{{item.image}}" width="40" height="40" class="img-xs" alt="Item" />
                                                                        </div>
                                                                        <div class="info">{{ item.product.title }}</div>
                                                                    </a>
                                                                </td>
                                                                <td>₹{{item.price}}</td>
                                                                <td>{{item.qty}}</td>
                                                                <td class="text-end">₹{{item.total}}</td>
                                                            </tr>
                                                            {% endfor %}
                                                            
                                                            
                                                            <tr>
                                                                <td colspan="4">
                                                                    <article class="float-end">
                                                                        <dl class="dlist">
                                                                            <dt>Subtotal:</dt>
                                                                            <dd>₹{{order.price}}</dd>
                                                                        </dl>
                                                                        <dl class="dlist">
                                                                            <dt>Shipping cost:</dt>
                                                                            <dd>0</dd>
                                                                        </dl>
                                                                        <dl class="dlist">
                                                                            <dt>Grand total:</dt>
                                                                            <dd><b class="h5">₹{{order.price}}</b></dd>
                                                                        </dl>
                                                                        <!-- <dl class="dlist">
                                                                            <dt class="text-muted">Status:</dt>
                                                                            <dd>
                                                                                <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                                            </dd>
                                                                        </dl> -->
                                                                    </article>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- table-responsive// -->
                                            </div>
                                            <!-- col// -->
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-4">
                                                <!-- <div class="box shadow-sm bg-light">
                                                    <h6 class="mb-15">Payment info</h6>
                                                    <p>
                                                        <img src="{% static 'admin/assets/imgs/card-brands/2.png' %}" class="border" height="20" /> Master Card **** **** 4768 <br />
                                                        Business name: Grand Market LLC <br />
                                                        Phone: +1 (800) 555-154-52
                                                    </p>
                                                </div> -->
                                                <!-- <div class="h-25 pt-4">
                                                    <div class="mb-3">
                                                        <label>Notes</label>
                                                        <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                                                    </div>
                                                    <button class="btn btn-primary">Save note</button>
                                                </div> -->
                                            </div>
                                            <!-- col// -->
                                        </div>
                                    </div>
                                    <!-- card-body end// -->
                                </div>
                                <!-- card end// -->
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}