{% extends 'admin/partials/base.html' %}
{% load static %}

{% block content %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Product Variations</h2>
        </div>
        <div>
            <!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
            <a href="#" class="btn btn-light rounded font-md">Import</a> -->
            <a href="{% url 'superadmin:product.create' %}" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        
        <!-- card-header end// -->
        <div class="card-body">
            {% if products is not None%}
                {% for p in products %}
                <article class="itemlist">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-8 flex-grow-1 col-name">
                            <a class="itemside" href="#">
                                <div class="left">
                                    <img src="{{p.image.url}}" class="img-sm img-thumbnail" alt="Item" />
                                </div>
                                <div class="info">
                                    <h6 class="mb-0">{{p.title}}</h6>
                                </div>
                            </a>
                        </div>
                        <!-- <div class="col-lg-2 col-sm-2 col-4 col-price"><span>₹{{p.discount_price}} / ₹{{p.price}}</span></div> -->
                        <div class="col-lg-2 col-sm-2 col-4 col-status">
                            <span class="badge rounded-pill alert-success">{{p.product_status}}</span>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-status">
                            <span class="badge rounded-pill alert-warning">{{p.category.title}}</span>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 col-date">
                            <span>{{p.date|date:"M, d, Y"}}</span>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                            
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                <div class="dropdown-menu">
                                    <a href="{% url 'superadmin:product_edit' p.id %}" class="dropdown-item link-edit-category"> <i class="material-icons md-edit"></i> Edit </a>        
                                    <a href="{% url 'superadmin:product_images' p.id %}" class="dropdown-item link-edit-category"> Image Gallery </a>
                                    <a href="#" class="dropdown-item link-edit-category"> <i class="material-icons md-delete_forever"></i> Delete </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row .// -->
                </article>
                {% endfor %}
            {% else %}
            <article class="itemlist">
                <div class="row align-items-center">
                    <h4>No products</h4>
                </div>
                <!-- row .// -->
            </article>
        {% endif %}
            <!-- itemlist  .// -->
            
            
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    
</section>
{% endblock %}